services:
  - type: web
    name: flask-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: FLASK_ENV
        value: production
      - key: COLLECTION_NAME
        value: art_of_living_projects
      - key: MODEL_NAME
        value: togethercomputer/llama-2-70b-chat
      - key: TOGETHER_API_KEY
        sync: false 