Flask==3.0.2
Gunicorn
flask-cors==4.0.0
python-dotenv==1.0.1
langchain==0.1.12
langchain-community==0.0.27
langchain-core==0.1.32
psycopg2-binary==2.9.9
torch==2.2.1
transformers==4.38.2
together==1.5.4
pandas==2.2.1
openpyxl==3.1.2
einops==0.7.0
